* {
  box-sizing: border-box;
}


body {
  background-color: #f5f5f5;
  margin: 0 auto;
  padding: 15px;
}

.container {
  width: 85vw;
  margin:0 auto;
}

.container h5 {
  text-transform: uppercase;
}

.grid {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex: 1 auto;
}




/*Classes from JavaScript  */


.image-container {
  border: 2px solid #d9d9d9;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px 0;
  padding: 10px 5px;
}

.large-img ,
.picture {
  border-radius: 50%;
}

.image-container:hover {
  background-color: rgba(212, 212, 212, 0.38);
}

.employee-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 0.8em;
}

.name,
.city,
.address,
.birthday {
  text-transform: capitalize;
}

.name {
  font-weight: bold;
}

/*SEARCH  */

.results {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.search {
  border: 1px solid $srch-border-color;
  border-radius: 3px;
  font-size: 18px;
  height: 30px;
  margin-bottom: 10px;
  padding: 5px 10px;
  width: 100%;
}


/*MODAL  */
.overlay-modal {
  position: absolute;
  z-index: 9999;
  top: 10vw;
  left: 10vw;
  background-color: rgba(255, 255, 255);
  display: none;
}

.popup-modal {
  position: absolute;
  z-index: 10000;
  background-color: white;
  margin: 0 auto;
  height: 400px;
  text-align: center;
  font-weight: normal;
  border-radius: 5px;
  border: 5px solid lightblue;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}



.employee-card,
.extra-info {
  font-size: 1em;
  line-height: 2;
}

.nav {
  display: block;
}
.picture {
  width: 35%;
  margin: 0 auto;
}

hr {
  width: 300px;
  margin: 0;

}

.closeBtn {
  position: absolute;
  top: 1vw;
  right: 1vw;
}

.prev,
.next {
  position: absolute;
  top: 37vw;
}

.prev {
  left: -5vw;
}

.next {
  right: -5vw;
}

.closeBtn:hover,
.prev:hover,
.next:hover {
  cursor: pointer;
}




/*Media Queries  */

@media (min-width:768px) {
  .grid {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 1 100%;
  }

  .image-container {
    width: 48%;
  }

  .large-img {
    max-width: 90%;
    min-width: 85%;
  }
}


@media (min-width:1024px) {
  .image-container {
    width: 32%;
  }

  /* .large-img {
    max-width: 80%;
  } */
}
